{{#if view.mainNavOpen}}
<div class="portfolio-main-nav__background"></div>
<ul class="portfolio-main-nav__list">
  {{#each view.navItems}}
  <li class="portfolio-main-nav__item">
    <a href="{{link}}" class="portfolio-main-nav__link">
      <span class="portfolio-main-nav__icon">
        <span class="{{icon}}"></span>
      </span>
      <span class="portfolio-main-nav__label">{{name}}</span>
    </a>
  </li>
  {{/each}}
</ul>
{{/if}}

<button
  class="portfolio-main-nav__toggle"
  data-js-action="toggleMainNav"
  id="main-nav-toggle"
  type="button"
  aria-haspopup="true"
  aria-expanded="{{#if view.mainNavOpen}}true{{else}}false{{/if}}"
  aria-controls="main-nav"
  aria-label="{{#if view.mainNavOpen}}Hide{{else}}Show{{/if}} Main Menu">
  <span class="icon-menu"></span>
</button>